---
import { Image } from "astro:assets";
import portrait from "../assets/portrait.png";

import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SocialLinks from "@/components/SocialLink.astro";

import presentation from "@/data/presentation";
import projects from "../data/projects";
import Education from "@/components/Education.astro";
import WorkExperience from "@/components/WorkExperience.astro";
import Skills from "@/components/Skills.astro";
---

<Layout title="Welcome to my portfolio website and blog!">
  <main>
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>
        <div class="flex flex-row justify-between">
          <h2
            class="w-auto max-w-[60ch] leading-6 text-neutral-100"
            set:html={presentation.description}
          />
          <Image
            src={portrait}
            alt="My profile photo"
            class="w-64 object-contain rounded-full"
          />
        </div>
        <SocialLinks />
        <Education />
        <WorkExperience />
        <Skills />
        <article class="flex flex-col gap-8">
          <header class="flex w-full flex-row justify-between gap-2">
            <h3 class="text-lg text-neutral-100">
              Selected projects ({projects.length})
            </h3>
          </header>
          {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

          <section class="flex flex-col gap-4">
            {
              projects.length !== 0 &&
                projects.map((project) => <ProjectCard {...project} />)
            }
          </section>
        </article>
      </div>
    </article>
  </main>
</Layout>
