---
import Link from "./shared/Link.astro";
import presentation from "../data/presentation";
---

<span class="text-neutral-100 text-md">
  I am open for connection and I am always ready if you want to talk with me
  whether it is about professional opportunity or you want to talk with me on
  general things, I am always ready. Just click link below :)
</span>
<ul role="list" class="flex flex-row gap-1">
  {
    presentation.socials.map((social, index) => (
      <>
        <li>
          <Link href={social.link} label={social.label} image={social.image} />
        </li>
        {presentation.socials.length - 1 !== index && <li />}
      </>
    ))
  }
</ul>
